.App {
  
}

.logo {
  display: block;
  width: 64px;
  height: 56px;
  margin-right: 18px;
}

main {
  padding: 2em 20px;
}

.question {
  padding: 1em 0;
}

.question button {
  margin-right: 1em;
}

.center {
  text-align: center;
}